<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etisbew.eatz.android"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="8"
        />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- So that we can get the account name -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="com.example.mapdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <!-- Required if we need to invalidate access tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ls_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".MyApplication">
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Localsecrets"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

          <activity
            android:name="com.etisbew.eatz.android.DealGallery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.KnowMore"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.PdfActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Search"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.etisbew.eatz.android.GuestTableBooking"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Explore"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
      
        <activity
            android:name="com.etisbew.eatz.android.SearchDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Deals"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyDeals"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyPoints"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.DealsDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.SignUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Sort"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Filters"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Filters1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyAccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyReviews"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyOrders"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Events"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.EventDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.RedemptionHistory"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyReviewDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyFav"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.RestuarentReviews"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.ReviewDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.HaveFun"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.common.WebViewLoader"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.BookingConfirmation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.BookTableSessions"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.OrderList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.BookTable"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.More"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.dropdownlist.MyReservations"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.OpenNow"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".android.SignInActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.etisbew.eatz.android.OAuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.orderfood.OrderFood"
             android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
           <activity
            android:name="com.etisbew.eatz.android.orderfood.RewardPoints"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.orderfood.OrderDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.orderfood.OrderDetails_2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <activity
            android:name="com.etisbew.eatz.android.orderfood.PayTm"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.orderfood.OrderConfirm"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.Articles"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.SingleArticleItemView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.TermsAndConditions"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.android.GetVoucher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.etisbew.eatz.common.PurchasedItems"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
          
           <activity
            android:name="com.etisbew.eatz.android.RepeatOrders"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
          
           <activity
            android:name="com.etisbew.eatz.android.orderfood.OrderFailure"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCjjDG1K37psqjA4cagRzRcDqHnIFTVHIk" />
        <!-- android:value="AIzaSyBr19mHkvn3ik5FrdAUl5LVvYsTU1eiEOw" /> -->
    </application>
    
    
    
    

</manifest>